<div class="main-container">
    <app-navbar />
    <div class="content-wrapper">

        <div class="home-main">
            <h1>Commission Portal</h1>
            <div class="home-pages-list">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Entry Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Commission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage Absents</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <app-footer />
</div>