<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">Commission Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Entry Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Commission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manage Absents</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" href="#">Admin Panel</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
